body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p.one{
   font-size: small;
   position: absolute;
   right: 550px;
   top:200px;
 }
p.two{
  font-size: small;
  position: absolute;
  right: 550px;
  top:210px;
}
p.three{
  font-size: small;
  position: absolute;
  right: 550px;
  top:220px;
}